<p>inbuild-pipe works!</p>
<!-- syntax =>
    {{propertyName | pipename}}
-->

<!-- <h2> {{str}} </h2>
<h2> {{str | lowercase}} </h2>
<h2> {{str | uppercase}} </h2>
<h2> {{str | titlecase}} </h2>
<h2> {{str | slice:1:15}} </h2> -->

<!-- <h2> {{0.25 |percent }} </h2>
<h2> {{0.025 |percent }} </h2>
<h2> {{0.025 |percent:'1.1' }} </h2>
<h2> {{0.091 |percent:'2.2' }} </h2> -->

 <!-- <h2> {{0.25 | currency}} </h2>
 <h2> {{0.25 | currency:'INR':'code'}} </h2>
<h2> {{0.25 | currency:'GBP'}} </h2> -->

 <!-- <h2>  {{5.6743462 | number : '1.2-3'}} </h2>  

    <h2>  {{5.678456 | number : '1.2-3' }} </h2>
            
  <h2>  {{5.678556 | number : '2.2-3' }} </h2>
                
   <h2>  {{5.6 | number : '2.2-3' }} </h2> -->

   <h3> {{mydate}} </h3>
 
  
     
   <h3> {{ mydate | date:'mediumDate'}} </h3>
    
 <h2> {{mydate | date : 'shortDate'}} </h2>
       
 <h2> {{mydate | date : 'dd-MM-yyyy'}} </h2>
 <h2> {{mydate | date : 'dd/MM/yyyy'}} </h2> 

 <!-- chaining of pipe    -->
 
<h2> {{mydate | date:'longDate' | uppercase  }} </h2>
