<p>switchdirective works!</p>

<input #colorname type="text" placeholder="Enter the Color Name"> <br><br>
<button (click)="onSend(colorname.value)" >Send</button>
<hr>

<div [ngSwitch]="choice">
    <div *ngSwitchCase="'red'"
        [style.background]="choice"
    >Your color is  {{choice}} </div>
    <div *ngSwitchCase="'green'"
    [style.background]="choice"
    >Your color is  {{choice}} </div>
    <div *ngSwitchCase="'blue'" 
    [style.background]="choice"
    >Your color is  {{choice}} </div>
    <!-- <div *ngSwitchDefault
        [style.background]="choice==''?'black':'orange'"
        [style.color]="choice==''?'white':'black'"
    >Your color is Wrong {{choice}} </div> -->

    <div *ngSwitchDefault
        [ngStyle]="{
            'background':choice==''?'black':'orange',
            'color':choice==''?'white':'black'
        }"
>Your color is Wrong {{choice}} </div>
</div>

